.erfassen-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .action-buttons, .storage-buttons {
    display: flex;
    gap: 10px;
  }
  
  table {
    box-sizing: border-box;
  }

  .wrapper{
    padding: 20px;
  }

  .cdk-column-delete{
    width: 130px;
    text-align: center;
  }

  @media screen and (max-width:1195px){
    .erfassen-buttons{
      flex-direction: column;
      gap: 10px;
    }

  }