<div class="wrapper">

  <!--Buttons-->
  <div class=erfassen-buttons>

    <div class="action-buttons">
      <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">Sortieren
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="sortByGerman()">Deutsch</button>
        <button mat-menu-item (click)="sortByEnglish()">Englisch</button>
      </mat-menu>

      <button mat-raised-button color="accent" (click)="openWordDialog()">
        Hinzufügen
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="storage-buttons">
      <button mat-raised-button color="accent" (click)="saveToLocalStorage()">
        Speichern
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="loadFromLocalStorage()">Laden
        <mat-icon>cloud_download</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="fillWithExampleWords()">BeispielDaten</button>
      <button mat-raised-button color="warn" (click)="resetWordList()">Zurücksetzen</button>
    </div>

  </div>


  <!--Table-->
  <table mat-table [dataSource]="wordList" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let wordPair; let i = index"> {{ i + 1 }} </td>
    </ng-container>

    <ng-container matColumnDef="deutsch">
      <th mat-header-cell *matHeaderCellDef> Deutsch </th>
      <td mat-cell *matCellDef="let wordPair"> {{ wordPair.wordDE }} </td>
    </ng-container>

    <ng-container matColumnDef="englisch">
      <th mat-header-cell *matHeaderCellDef> Englisch </th>
      <td mat-cell *matCellDef="let wordPair"> {{ wordPair.wordEN }} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Aktionen </th>
      <td mat-cell *matCellDef="let wordPair">
        <button mat-icon-button color="warn" (click)="deleteWordPair(wordPair.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="editWordPair(wordPair)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumnTitles"></tr>
    <tr mat-row *matRowDef="let wordPair; columns: tableColumnTitles;"></tr>
  </table>

</div>