<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Deutsch</mat-label>
    <input matInput type="text" [(ngModel)]="editedWord.wordDE">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Englisch</mat-label>
    <input matInput [(ngModel)]="editedWord.wordEN">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <div class="buttons">
    <button mat-raised-button color="accent" (click)="onClose()">Cancel</button>
    <button mat-raised-button color="accent" (click)="onSave()">Save</button>
  </div>
</div>